*{
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}


.title{
  margin: auto;
  text-align: center;
}

.square {
  width: 35px;
  width: 35px;
  border: 1px solid black;
  background-color: white;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.board{
  display: flex;
  flex-wrap: wrap;
  width: 130px;
  height: 120px;
  margin: auto;
}

.status{
  margin-top: 30px;
  text-align: center;
}

